
body, html {

  background: #4B5358;
  color: #91D38B;
  margin: 0;
  padding: 0;
 
}

input {

  border-radius: 4px;
  border: 2px solid #65737E
}

.jumbotron {
    background-image: url('img/graffiti.png');
    background-position: 0% 20%;
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    margin-top: 0;

}

div {

	margin: 0;
}

#button {

  background-color: #E50462;
  display: block;
  margin: auto;
  min-width: 100px;
  min-height: 40px;
}

#inputBox {

  margin: 20px;
  min-height: 20px;
}

.App {
  text-align: center;
  margin: 0px;
  box-sizing: border-box;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.submit {
    margin: 10px;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
